<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UsersConnectionString"
			 connectionString="server=(localdb)\MSSQLLocalDB; Database=Users; Integrated Security=true"
			 providerName="System.Data.SqlCLient" />
		<add name="VluchtenConnectionString"
			 connectionString="server=(localdb)\MSSQLLocalDB; Database=Vluchten; Integrated Security=true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>